<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424817086916-jnjvsdumnpr0kduajf2g4dov72faufam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424817086916-jnjvsdumnpr0kduajf2g4dov72faufam</string>
	<key>API_KEY</key>
	<string>AIzaSyCRVOF8bFqWOJ8di0FwCDvH9b4mjyr6Tw8</string>
	<key>GCM_SENDER_ID</key>
	<string>424817086916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phongle.Quiz-App</string>
	<key>PROJECT_ID</key>
	<string>auth-ios-caad1</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-ios-caad1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424817086916:ios:565d526bc62b28d158d491</string>
</dict>
</plist>